@import url('__container/comments__container.css');
@import url('__comment/comments__comment.css');
@import url('__image/comments__image.css');
@import url('__quote/comments__quote.css');
@import url('__author/comments__author.css');

.comments {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 0 6.375rem;
}

@media screen and (max-width: 1280px) {
  .comments {
    width: 92.5%;
  }
}

@media screen and (max-width: 1024px) {
  .comments {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .comments {
    width: 93.75%;
  }
}

@media screen and (max-width: 425) {
  .comments {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 375px) {
  .comments {
    max-width: 343px;
  }
}

@media screen and (max-width: 320px) {
  .comments {
    width: 90%;
  }
}
