.cover__subtitle {
  font-size: 1.125rem;
  line-height: 1.6rem;
  font-weight: normal;
  max-width: 382px;
  text-align: center;
  margin: 0 auto 4%;
  grid-column: 1;
  grid-row: 1;
  z-index: 3;
  align-self: end;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 639px) {
  .cover__subtitle {
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    width: 90%;
    margin-bottom: 6.5%;
  }
}
