@import url('__lang/header__lang.css');
@import url('__link/header__link.css');
@import url('__link/_active/header__link_active.css');

.header {
  max-width: 1184px;
  padding: 1.875rem 0 3rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .header {
    width: 92.5%;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width: 425) {
  .header {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .header {
    max-width: 343px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 90%;
  }
}
