.lead__subtitle {
  max-width: 583px;
  margin: 0 auto 4.875rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    width: 100%;
    margin-bottom: 4.0625rem;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: 90%;
    font-size: 3.9vw;
    line-height: 4.6vw;
    margin-bottom: 10.15vw;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    width: 90%;
    font-size: 1rem;
    line-height: 1.4375rem;
    margin-bottom: 2rem;
  }
}
