.lead__caption {
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: .15em;
  text-transform: uppercase;
  justify-self: start;
  margin: 0.625rem 0 0;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    width: 93.75%;
    margin: 0.625rem auto 0;;
  }
}

@media screen and (max-width: 375px) {
  .lead__caption {
    max-width: 343px;
  }
}

@media screen and (max-width: 320px) {
.lead__caption {
  width: 90%;
  }
}
