.comments__author {
  margin: 0;
  font-size: .875rem;
  line-height: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .comments__author {
    margin: 1rem 0 1.5rem;
    grid-row: 2;
    justify-self: center;
  }
}
